*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  --primary-orange: #E97512;
  --bg-gray: #F5F5F5;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #F9FAFB; 
  width: 100%;
}

#root {
  width: 100%;
  min-height: 100vh;
}
